#mobilemypageheader {
    width: 100%;
    background-color: #fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0 0 0;
    z-index: 11;
    border-bottom: 1px solid rgb(222, 226, 230);
}

.mobile-header-content {
    padding: 0 22px 10px 22px;
    border-bottom: 1px solid rgb(222, 226, 230);
}

.mobilemypageheader {
    display: none;
}

.mobilemypageheaderactive {
    animation: mobilemypageheader-fade 0.8s ease;
    display: flex;
    flex-wrap: wrap;
}

@keyframes mobilemypageheader-fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.mobilemypageheader-content {
    padding: 10px 22px;
    float: inline-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgb(222, 226, 230);
}

.mobilemypageheader-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mobilemypageheader-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.mobilemypageheader-inner input {
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

.mobilemypageheader-inner button {
    margin: 5px;
    background-color: #999;
    border-radius: 5px;
    font-size: 14px;
}

.mobilemypage-menu {
    list-style: none;
    padding: 0 10px;
}

.mobilemypage-menu li {
    text-decoration-line: none;
    padding: 0 5px;
    
}

.mobilemypage-menu li svg {
    vertical-align: middle;
}

.mobilemypage-menu li a {
    justify-content: start;
    align-items: center;
    display: flex;
    color: #111;
    text-decoration: none;
    font-size: 18px;
    padding: 13px;
    gap: 10px;
}