#mypageheader {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 110vh;
    width: 270px;
    /* box-shadow: 0px 0px 20px  rgb(0, 0, 0.1); */
}

.mypageheader {
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mypageheader img {
    width: 130px;
    height: 120px;
    border-radius: 50%;
}

.mypageheader-inner {
    justify-content: center;
    text-align: center;
    padding: 30px; 
}

.mypageheader-inner input {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 180px;
    height: 30px;
    border-radius: 10px;
}

.mypageheader-inner button {
    width: 80px;
    margin: 10px 6px 0 6px;
    background-color: #999;
    border-radius: 5px;
    font-size: 18px;
}

.name {
    font-size: 25px;
    font-weight: 600;
    
}



.mypage-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px ;
}

.mypage-menu li {
    text-decoration-line: none;
    padding: 0 5px;
    
}

.mypage-menu li a {
    justify-content: start;
    align-items: center;
    display: flex;
    height: 50px;
    color: #111;
    text-decoration: none;
    font-size: 19px;
    border-radius: 10px;
    margin: 10px 0 0 20px;
    gap: 13px;
    
    
}

.logout {
    justify-content: start;
    align-items: center;
    display: flex;
    font-size: 15px;
    padding: 30px;
    margin-top: 90px;
}

.logout p {
    cursor: pointer;
}

@media (max-width: 900px) {
    #mypageheader {
        width: 220px;
    }

    .mypageheader img {
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 120px;
        border-radius: 50%;
        margin-left: 55px;
    }

    .mypageheader-inner input {
        width: 100px;
    }

    .mypageheader-inner {
        margin: 30px 30px 30px 40px; 
    }
}

/* .mypageheader-inner {
   display: flex;
   justify-content: center;
   text-align: center;
}

.mypageheader-inner input {
    display: inline-flex;
    width: 170px;
    text-align: center;
} */

