.inflearn__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sort-dropdown {
    display: flex;
    justify-content: right;
    padding-right: 30px;
}

.sort-dropdown select{
    margin-top: 10px;
    margin-left: 10px;
    width: 13vw;
    height: 6vh;
    font-size: 1.1rem;
    font-weight: 900;
    border-radius: 10px;
    border-color: #fdfdfd;
}

.item {
    padding: 26px;
    width: 242px;
    
}

.item img {
    width: 240px;
    height: 150px;
    border-radius: 20px;
    transition: 0.3s;
}

.item-inner {
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    text-decoration-line: none;
}

.item-title {
    text-decoration-line: none;
    color: #111;
}


.item-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-information p {
    font-size: 0.8rem;
}




/* 
.item h4:hover {
    cursor: pointer;
    text-decoration: underline;
} */

.item img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
