.inflearn__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    padding: 30px;
    width: 300px;
    text-align: center;
}

.item img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    transition: 0.3s;
}


.item h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.item img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
