@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');

.header2 {
    width: 100%;
    background-color: #fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    font-family : 'NanumSquare', sans-serif;
    /* border-bottom: 1px solid #111 ; */
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 22px;
    box-sizing: border-box;
}

.header__logo {
    display: flex;
    align-items: center;
    margin: 0;
}

.logo {
    padding: 3px;
    margin: 3px 3px 3px 10px;
    height: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #999;
    padding: 3px;
    border-radius: 44px;
    flex-grow: 1;  
    max-width: 40vw;
}

.searchinput {
    border: none;
    outline: none;
    padding: 3px;
    font-size: 16px;
    border-radius: 44px;
    flex-grow: 1;
}

.search-bar button {
    background-color: #fdfdfd;
    cursor: pointer;
    font-size: 28px;
    border: none;
    border-radius: 40px;  
    margin-right: 10px;
}

@media (max-width: 720px) {

    .header__logo {
       display: none;
    }

    .search-bar {
        margin: 10px;
    }

}

@media (max-width: 690px) {
    .search-bar {
        margin: 10px;
        max-width: 44vw;
    }

    .search-bar input {
        border: none;
        outline: none;
        padding: 10px;
        font-size: 18px;
        border-radius: 44px;
        max-width: 44vw;
    }

    .search-bar button {
        background-color: white;
        cursor: pointer;
        font-size: 24px;
        margin-left: 8px;
        border: none;
        border-radius: 100px;  
    }
}

.nav-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    text-decoration: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    font-weight: 600; 
    width: 70px; 
    height: 45px; 
    box-sizing: border-box; 
}