.header__menu .menu {
    border-bottom: 1px solid #88BAF7;
    padding: 5px 0;
}

.header__menu li {
    list-style: none;
    margin-bottom: 6px;

}

.header__menu li a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 19px;
    font-weight: 900; 
    border-radius: 10px;
    margin: 3px 0;
    padding: 10px 20px;
    gap: 10px;
    transition: 0.3s;
    border: 2px solid #fdfdfd;
}

.header__keyword .keyword {
    border-bottom: 1px solid #88BAF7;
    padding: 9px;
    
}

.header__keyword li {
    list-style: none;
    display:inline-flex;

}

.header__keyword li span {
    border-radius: 30px;
    font-size: 15px;
    font-weight: 900;
    padding:11px;
    margin: 5px 5px;
    border: 2px solid #999;
    transition: 0.3s;
    
}


.header__keyword li span:hover,
.header__keyword li.active span  {
    border: 2px solid #88BAF7;
    color: #88BAF7;
    cursor: pointer;
}


.header__sns ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    position: relative;
    margin-top: 1vh;
    position: absolute;
}

.header__sns li {
    list-style: none;
    margin-right: 22px;
    
}

.header__sns li a {
    font-size: 27px;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;

}

.header__sns li a:hover {
    color: #88BAF7;
}



/* 반응형 네브바 */

@media (max-width: 900px) {
    

    .header__menu li a {
        justify-content: center; 
        padding: 9px;
        text-align: center;
        display: block;
        font-size: 18px;
        font-weight: 900;      
    }

    .menu-title {
        font-size: 15px;
        font-weight: 900;
    }

    .header__keyword li span {
        font-size: 9px; 
        font-weight: 900;  
        border: 2px solid #999;
    }
   
    .header__sns ul {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        margin-top: 1vh;
        position: absolute; 
    }

    .header__sns li a {
        font-size: 23px;
        color: black;
        height: 10px;
        width: 10px;
        margin-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 0.3s;
    }
}