.header2 {
    width: 100%;
    background-color: #fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 11;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 22px;
    box-sizing: border-box;
}

.header__logo {
    display: flex;
    align-items: center;
    margin: 0;
}

.logo {
    padding: 3px;
    margin: 3px;
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #999;
    padding: 3px;
    border-radius: 44px;
    flex-grow: 1;  
    max-width: 40vw;
}

.searchinput {
    border: none;
    outline: none;
    padding: 3px;
    font-size: 16px;
    border-radius: 44px;
    flex-grow: 1;
}

.search-bar button {
    background-color: #fdfdfd;
    cursor: pointer;
    font-size: 28px;
    border: none;
    border-radius: 40px;  
    margin-right: 10px;
}