/* 기본 스타일 */
body, html {
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    background-color: #fdfdfd; 
    margin-top: 66px;
    color: #1b1c1d;
}

/* detail 페이지에서는 헤더 제거 */
body.detail-page #header {
    display: none;
}

#main {
    max-width: 2000px;
    min-height: 100vh;
    background-color: #fdfdfd;
    padding-left: 250px;
    padding-top: 66px;
    color: #1b1c1d;
}


body.detail-page #main {
    padding-left: 0;
}

#footer {
    text-align: center;
    color: #1b1c1d;
    padding: 20px 20px 20px 250px;
    background-color: #fdfdfd;
}


body.detail-page #footer {
    padding: 20px;
}

@media (max-width: 900px) {
    #header {
        width: 175px;
        margin-top: 66px;
    }

    #main {
        padding-left: 175px;
    }

    #footer {
        padding: 20px 20px 20px 175px;
    }

    body.detail-page #main {
        padding-left: 0;
    }

    body.detail-page #footer {
        padding: 20px;
    }
}
