/* 기본 스타일 */
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    font-family : 'Pretendard-Light', sans-serif;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 91vh;
    overflow-y: auto;
    z-index: 10;
    background-color: #fdfdfd; 
    padding-top: 72px;
    color: #495057;
    border-right: 2px solid #000;
}


#main {
    max-width: 2000px;
    min-height: 100vh;
    background-color: #fdfdfd;
    padding-left: 220px;
    padding-top: 72px;
    color: #1b1c1d
}

#footer {
    text-align: center;
    color: #1b1c1d;
    padding: 20px 20px 20px 220px;
    background-color: #fdfdfd;
}


@media (max-width: 720px) {
    #header {
        display: none;
    }
    
    #main {
        padding-left: 0px;
    }

    #footer {
        padding: 20px 20px 20px 20px;
    }

}